# pixi environments
.pixi/*
!.pixi/config.toml

# python
__pycache__/
*.py[cod]
*.egg-info/

# notebooks
.ipynb_checkpoints/

# data
data/raw/
data/interim/
data/processed/

# but keep DVC metafiles
!data/raw/**/*.dvc
!data/interim/**/*.dvc
!data/processed/**/*.dvc

# dvc
.dvc/cache/

# editors / os
.vscode/
.idea/
.DS_Store
Thumbs.db
